.default {
    border: 1px solid blue;
    background: #7892c2 linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    text-shadow:0px 1px 0px #283966;


}

.default:hover {
    background: #476e9e linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
}

.red {
    top: 20px;
    border: 1px solid red;
    box-shadow: 0px 10px 14px -7px #cf866c;
    text-shadow:0px 1px 0px #854629;
    background: #d0451b linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    width: 10%;

}

.red:hover {
    background: #bc3315 linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
}